body{
   @font-face { font-family: 'Tesla';
             src: url('Fonts/TESLA.tff') format('truetype'); }
        
}

.icenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.left {
    display: block;
    margin-left: auto;
    margin-right: 100%;
    width: 5%;
}


.acenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.Leerzeile  { margin-top:1em;}