body{
    @font-face { font-family: 'Tesla';
             src: url('tesla/TESLA.tff') format('truetype'); }
        
}

.icenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}